body {
	background-color: rgb(204, 204, 204)
}
ul{
    list-style-type: none;
    }
        .heading {
        text-align: center;
        }
        #player_one{
        background-color: white;
        border: solid 1px;
		border-radius: 8px;
        }
#player_two{
 margin: auto;
  width: 60%;  
background-color: white;
	border: solid 1px;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
}
audio{
	background-color: rgb(255, 255, 255);
	width: 100%; 
	border-radius: 8px;
	
}
video{
	background-color: rgb(255, 255, 255); 
	padding-top: 10px;
	border-radius: 8px;
}
a{
	text-decoration-line: none;
}
