 ul{
    list-style-type: none;
    }
        .heading {
        text-align: center;
        }
        .songsdiv{
        border: solid 1px;
		border-radius: 8px;
        }
.playerdiv{
	border: solid;
	border-radius; 8px;
}
.audio{
width: 100%;
}
        